* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --heading: #F8F8F8;
  --highlight: #FF57B2;
  --background: #1A1D23;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

body {
  background-color: var(--background);
  color: var(--body);

  font-family: 'Inter', sans-serif;
}

a {
  color: var(--highlight);
  text-decoration: none;
}